<p>Уважаемый <%= @resource.email %>!</p>
<p>Кто-то отправил запрос на смену пароля. Вы можете сменить пароль, перейдя по ссылке ниже.</p>
<p><%= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<p>Если вы не посылали запрос, то просто проигнорируйте это письмо.</p>
<p>Ваш пароль останется прежним, пока вы не перейдете по указанной выше ссылке и не укажете новый.</p>
<%= render "bottom" %>
